{% extends "./plantilla.html" %}
{% block contenido %}
<div class="mt-4">
<section class="page-header" data-store="page-title">
<div class="container">
<div class="row">
<div class="col text-center ">
<h1 class="text-center h2 h1-md  text-danger">Cómo Comprar</h1>
</div>
</div>
</div>
</section>
<section class="user-content pb-5">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-10">
<p>El Rey de la Navidad ofrece a sus clientes la oportunidad de comprar sus productos a través de su tienda virtual</p>
<p><span style="line-height: 1.6;">Por ejemplo:</span></p>
<ol>
<li>Elige el producto que deseas comprar.</li>
<li>Haz clic en el botón de "Agregar al carrito". Esto agregará el producto a tu carrito y te llevará al mismo.</li>
<li>Puedes seguir agregando otros productos al carrito o sino haz clic en "Iniciar Compra".</li>
<li>Completa tus datos de contacto y haz clic en "Continuar".</li>
<li>Ingresa la dirección a donde deseas recibir el producto. Luego haz clic en "Continuar".</li>
<li>Elige el medio de pago.
<ul>
<li>También puedes seleccionar la opción de "A convenir".</li>
<li>Una vez que hayas elegido el medio de pago, haz clic en "Continuar".</li>
</ul>
</li>
<li>Finalmente en la página de Confirmación de compra puedes revisar toda la información de la compra. Luego haz clic en "Continuar".</li>
<li>Ahí serás redirigido a otra pantalla para que completes los datos sobre la forma de pago elegida. Después de confirmar la compra recibirás un correo de nuestra parte, ese no será un comprobante de pago.</li>
<li>Una vez acreditado el pago, haremos el envío correspondiente de los productos que hayas comprado.</li>
</ol>
<p>Si deseás realizar una compra mayorista, te pedimos que nos envies un email a ventas@elreydelanavidad.com asi te asesoramos de cómo realizar ese tipo de pedidos.</p>
</div>
</div>
</div>
</section>
</div>
{% endblock %}
