{% extends "./plantilla.html" %}
{% block contenido %}
<div class="mt-4">
<section class="page-header" data-store="page-title">
<div class="container">
<div class="row">
<div class="col text-center ">
<h1 class="text-center h2 h1-md  text-danger">La Empresa</h1>
</div>
</div>
</div>
</section>
<section class="user-content pb-5">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-10">
<table border="0" cellpadding="0" cellspacing="0" style="color: rgb(0, 0, 0); font-family: Tahoma, Geneva, sans-serif; font-size: 12px; line-height: normal; width: 1080px;" width="650">
<tbody>
<tr>
<td align="center" colspan="3"><iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/watch?v=Jpe8-mZXPkA" width="560"></iframe></td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="left" colspan="3">
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">En 1981 nació El Rey de la Navidad como una pequeña empresa familiar donde la premisa era llevarle a nuestros clientes productos novedosos para decorar hogares y comercios en esta época tan mágica del año. Hoy, casi 40&nbsp;años después, seguimos teniendo esa misma misión.</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Año a año nuestra empresa se fue ampliando y modernizando para poder brindarle a nuestros clientes los mejores productos, no solo en navidad, sino también durante todo el año y para todo tipo de eventos. Es por ese motivo que incorporamos el cotillón a nuestro catálogo de productos.</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Sabemos lo importante que es para usted la organización de su eventos y es por ese motivo que deseamos acompañarlo para brindarle las mejores opciones para hacer inolvidable ese momento.</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Somos pioneros en la incorporación del LED y podrá encontrar en nosotros la más amplia selección de productos. Vendemos minorista y también mayorista, distribuyendo nuestra línea a todo el país.</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Nuestro objetivo es seguir creciendo junto a todos nuestros clientes, siempre acercándoles los mejores y más novedosos productos.</span></font></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td align="center" colspan="3">&nbsp;</td>
</tr>
<tr>
<td valign="top"><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">&nbsp;<iframe frameborder="0" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.647369824827!2d-58.41278160000005!3d-34.6383505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb08da68a523%3A0x85ea6e6128a46150!2sAv+Caseros+3372%2C+Buenos+Aires%2C+Ciudad+Aut%C3%B3noma+de+Buenos+Aires!5e0!3m2!1ses!2sar!4v1429725884177" style="border-width: 0px; border-style: initial;" width="400"></iframe></span></font></td>
<td width="15">&nbsp;</td>
<td valign="top" width="235">
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Estamos ubicados en Av. Caseros 3372 en el barrio porteño de Parque Patricios en la Ciudad Autónoma de Buenos Aires. Tenemos un local a la calle de más de 240 m2 donde usted podrá disfrutar de todos los productos que tenemos para ofrecerles.</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Principales Accesos:<br>
Estamos a 3 cuadras de la Av. Boedo y a 9 de la Av. Jujuy en el corazón del Polo Tecnológico de la Ciudad de Buenos Aires.</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Autopista 25 de Mayo, bajada BOEDO.</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Subte Linea H: Estación HOSPITALES o PARQUE PATRICIOS</span></font></p>
<p><font color="#333333" face="sans-serif, Arial, Verdana, Trebuchet MS"><span style="font-size: 13px;">Colectivos: 6, 9, 23, 25, 28, 32, 50, 65, 75, 97, 101, 115, 128, 133, 134, 143, 150, 160, 165</span></font></p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
</div>
{% endblock %}
