{% extends "./plantilla.html" %}
{% block contenido %}
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Inicio > ILUMINACION LED > Cortinas
                </h6><br><br>
                <div class="row">
                    <h1>Filtrar por</h1>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-secondary ms-4">Destacados</button>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col">

Precio <br>
Desde <br>
<input type="text" placeholder="100">
 Hasta <br>
 <input type="text" placeholder="500">

        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto-recovered11-c1d6704501dd10062615943255215507-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco..
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cortinabf021-9b4afd32f78468539715943258597405-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cortina3x30211-47c8e0c0dd5bff2a2216509022506700-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img  src="https://acdn.mitiendanube.com/stores/102/344/products/cortina011-82c63413be4c0b828c16794255059822-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/1324531-b75ebd6ee672e3df2a15943246308976-640-011-e8d7b99781dc56322c16509032852204-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/fria-con-conectro-21-d033d07038496b7c8016820007596083-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cascada-bc031-54331a7b9df9b3506b15943260659269-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cascada-bf011-c3cd67a4f680bc06ca15676248718882-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div> <br><br>

    <div class="row">
        <div class="col">


        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/estrella051-6b82715b7aaf13cf8815355517597771-480-0.webp"  class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img  src="https://acdn.mitiendanube.com/stores/102/344/products/cortinapremium051-bc9192826273e2dc2515122051395976-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cortinapremium111-fd29ad858c5a97044516335539676072-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto-recover12341-073c253ac33f546fce15945187892964-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div> <br><br>

    <div class="row">
        <div class="col">


        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cascada-mlt011-431844569d1a80ecea15676248281001-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/61cvrgqkfl-_sx466_1-e5930cf0aa08311c7515411285080552-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto-recovered568461-eb3161ba78a89cc82015947661801418-480-0.webp" class="img-fluid" alt="">

        </div>
        <div class="col">
            <img class="img-fluid" alt="">

        </div>

    </div>
</div>
{% endblock %}
