{% extends "./plantilla.html" %}
{% block contenido %}
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Inicio > ILUMINACION LED > Guirnaldas Fantasía
                </h6><br><br>
                <div class="row">
                    <h1>Filtrar por</h1>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-secondary ms-4">Destacados</button>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col">

Precio <br>
Desde <br>
<input type="text" placeholder="100">
 Hasta <br>
 <input type="text" placeholder="500">

        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/61d3aosfr3l-_ac_sl1000_1-4077202765126cd5b515945248480256-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco..
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/htb1ruhtas_vk1rksmryq6xwupxax-jpg_q5011-b70f81486782be58a115532778984072-1024-10241-6c737a21916d387f6115945248480900-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/61vxwxmilyl-_ac_sl1001_1-ed0d617c085f75774215960522547829-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/htb1tfmxlvxxxxagxfxxq6xxfxxxl11-e7e63d0f9e5e54e07416431136841507-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/5334a0fb81a60a784567589fcd9b1b4311-385e17c57a32637cd215956930256003-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/996576a940680cbba2ab3f35e86adad31-7251cadf870de1522c15956938470632-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/aa-battery-cool-white-christmas-lights-175-inches-40-led-light-string-crystal-ball-fairy-string1-d5818f1e7b0962ac2e15956942511937-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/gota081-7dd49c1c4a366df1c616043368156476-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div> <br><br>

    <div class="row">
        <div class="col">


        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/71enene7aul11-b79beb5902e623413716429829799057-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/guirnalda-led-estalactitas-luz-calida-4-metros-con-enchufe-d_nq_np_665875-mla32171034781_092019-f1-99b07344ab56d3bb6915961945864271-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto567841-fb8c8c960bf575445716058762506454-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/bfpal011-819d2af3f5e78509aa15962211059796-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div> <br><br>

    <div class="row">
        <div class="col">
            <img src="" class="img-fluid" alt="">

        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cadena-x-5-01-6faa79238bb7487a2b16628771004499-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/guirnalda-led-calabazas31-742cdd48c570df6eaf16642263330239-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/broches011-a41aafaaff95f6a68d15683131261180-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/prm-rgb-041-0d90ddf8ad81a16be916565375113882-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <img src="" class="img-fluid" alt="">

        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/bfpal011-819d2af3f5e78509aa15962211059796-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto567841-fb8c8c960bf575445716058762506454-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/guirnalda-led-estalactitas-luz-calida-4-metros-con-enchufe-d_nq_np_665875-mla32171034781_092019-f1-99b07344ab56d3bb6915961945864271-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/71enene7aul11-b79beb5902e623413716429829799057-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>


    </div>
</div>

{% endblock %}
