{% extends "./plantilla.html" %}
{% block contenido %}
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Inicio > ILUMINACION LED > Lluvias
                </h6><br><br>
                <div class="row">
                    <h1>Filtrar por</h1>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-secondary ms-4">Destacados</button>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col">

Precio <br>
Desde <br>
<input type="text" placeholder="100">
 Hasta <br>
 <input type="text" placeholder="500">

        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto-recover12341-073c253ac33f546fce15945187892964-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco..
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/lluvia-led-031-17c91bdc4b39306ab215945183444621-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/tubo031-e50f7ee8226a89d46515368461617867-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/bc011-5b38bcfdcb88bff54415326966090951-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div><br><br>


    <div class="row">
        <div class="col">


        </div>
        <div class="col">
            <img src=" https://acdn.mitiendanube.com/stores/102/344/products/multi041-82c00b97f0482fb1e615368465055214-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/estrella051-6b82715b7aaf13cf8815355517597771-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cadena-x-5-01-6faa79238bb7487a2b16628771004499-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
        </div>
    </div> <br><br>

    </div>

{% endblock %}
