{% extends "./plantilla.html" %}
{% block contenido %}
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Inicio > ILUMINACION LED > Redes
                </h6><br><br>
                <div class="row">
                    <h1>Filtrar por</h1>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-secondary ms-4">Destacados</button>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col">

Precio <br>
Desde <br>
<input type="text" placeholder="100">
 Hasta <br>
 <input type="text" placeholder="500">

        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/red071-eeb7fc2707d5cd2f1015919144476852-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco..
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto-recovered11-66e09d24e2e8dd144a15947768804640-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto1-5bd95e7a006973077015947772253931-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/red0511-8c447a9396d59b971c15947785901517-480-0.webp"  class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/red-led1011-edba77d9d20008250015947774317964-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img  src="https://acdn.mitiendanube.com/stores/102/344/products/red-led0451-ea08f3ec36a04b68ce15964076209792-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img  src="https://acdn.mitiendanube.com/stores/102/344/products/red071-ed36f409dc3aae974816703557992278-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/red-multi041-6f1de8b5be9f769cc115951281326708-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div> <br><br>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/red051-8c447a9396d59b971c15947780522231-480-0.webp" class="img-fluid" alt="">

        </div>
        <div class="col">
            <img  class="img-fluid" alt="">

        </div>
        <div class="col">
            <img  class="img-fluid" alt="">

        </div>
        <div class="col">
            <img  class="img-fluid" alt="">

        </div>
    </div> <br><br>


</div>
{% endblock %}
