{% extends "./plantilla.html" %}
{% block contenido %}
<!DOCTYPE html>
<br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Inicio > ILUMINACION LED > Guirnaldas
                </h6><br><br>
                <div class="row">
                    <h1>Filtrar por</h1>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-secondary ms-4">Destacados</button>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col">

Precio <br>
Desde <br>
<input type="text" placeholder="100">
 Hasta <br>
 <input type="text" placeholder="500">

        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/ledbc011-70e55417babf6487f915122043099754-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco..
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/plantilla-foto-recuperado1-6f3e326083fdff4f5216648527576600-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/led-bc-cv-071-3513a815fdf120d58916933388898184-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/ledbc031-177eed806e3df8468616148658865817-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/rollo-50mt-04-ffd157ad0d5992938616648032704818-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/ledmulti011-2a4dd6f56b8672a99215122050102260-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/ledmulti021-16764dd5bcb159f36816148661741754-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/50mt-mlt1-295d0ba4d9efa9f43a16650663523584-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div> <br><br>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img src=" https://acdn.mitiendanube.com/stores/102/344/products/prolongables-021-302a76f94f7520e30816648534287101-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/ledbc031-177eed806e3df8468616148658865817-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/ledbc031-177eed806e3df8468616148658865817-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/ledbc031-177eed806e3df8468616148658865817-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
    </div> <br><br>

    <div class="row">
        <div class="col">
            <img src="" class="img-fluid" alt="">

        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/multi041-82c00b97f0482fb1e615368465055214-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/tubo031-e50f7ee8226a89d46515368461617867-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/arrozbccv051-975b88784d20e3a4e315122044921534-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/71ugebnegal-_ac_sl1000_1-e5d2de2371df2198e916200460944474-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>

    </div><br><br>

    <div class="row">
        <div class="col">
            <img src="" class="img-fluid" alt="">

        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/71ugebnegal-_ac_sl1000_1-e5d2de2371df2198e916200460944474-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/71d1sadrtel21-2bac1f67d6245f9e5116200450357412-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/luciernagas031-cc25eedea8be3c5cad16945437260339-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/cadena-x-5-01-6faa79238bb7487a2b16628771004499-640-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>


    </div><br><br>

    <div class="row">
        <div class="col">
            <img src="" class="img-fluid" alt="">

        </div>
        <div class="col">
             <img src="https://acdn.mitiendanube.com/stores/102/344/products/121-32d9cbaac338c7622616055222701965-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">
            <img src="https://acdn.mitiendanube.com/stores/102/344/products/mv007w_11_191-132d76a9663d21ba8115945149691238-480-0.webp" class="img-fluid" alt="">
            <h10>Guirnalda de 100 Luces Led 9mts aprox Blanco Calido
                $9.239 <br>
                3 cuotas sin interés <br>de $3.079,67</h10>
        </div>
        <div class="col">


        </div>
        <div class="col">


        </div>

    </div>

</div>

{% endblock %}
