{% extends "./plantilla.html" %}
{% block contenido %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1679424057581-7317048821-58dc2596aab6df2d1f2c4c971dc57eef1679424112-1920-1920.webp?1722748670" class="d-block w-100 " alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1598456125346-7150817372-0d903a69e6d5f667132ced49c654bbd11598456130-1920-1920.webp?1722748670" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1591668515607-4559946760-ace87da995c36cf2b8abfdd127b957691591668567-1920-1920.webp?1722748670" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1598456125346-5278595500-cf1944181e02db6b8acbb8fc29d277e31598456129-1920-1920.webp?1722748670" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1591668515606-3976828401-49ade744b47d6ac0010d29293c9a52711591668562-1920-1920.webp?1722748670" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1598456125346-802014072-799040d151b9cf7f401f905b7c9329271598456132-1920-1920.webp?1722748670" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1598456125346-8970941093-9ad23553de83204626761ea9bf7b6e661598456133-1920-1920.webp?1722748670" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://acdn.mitiendanube.com/stores/102/344/themes/amazonas/1-slide-1591668515607-1932236443-04f0cd782888acb6da161bfe1952bc101591668570-1920-1920.webp?1722748670" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visuall  y-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
